.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #f5b19a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #EFE7BC;
}

.App-header button {
    background-color: #EFE7BC;
    color: rgb(212, 118, 118);
    font-weight: 900;
    border-color: #EFE7BC;
    cursor: pointer;
}

.App-header li {
    width: 250px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.9em;
}

.App-link {
    color: #61dafb;
}

.container {
    display: flex;
}

.produce,
.pantry {
    border-right: 0.5px solid grey;
    padding-right: 1px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}